.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
favorites-localization/**
gulpfile.js
pnpm-lock.yaml
yarn.lock
.npmrc
.editorconfig
**/*.md
!readme.md
!changelog.md
!LICENSE.txt